* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}



.background {
    width: 100%;
    height: 100%;
    background-image: url('/iQchnia/public/images/food.jpg');
    overflow: auto;

    background-size: cover;
    position: absolute;
}

.container {
    text-align: center;

}


.navbar {
    padding: 5px 30px 5px 30px;
    background-color: rgba(255, 255, 255, 0.98);

    border-bottom: 4px solid rgb(213, 51, 121);
    box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73) !important;
    -webkit-box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73);
    -moz-box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73);
    margin-bottom: 20px;
}


.formRecipe {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px !important;
}

.formSearch {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap !important;
    margin-bottom: 10px;

}

.formSearch .box {
    width: 30% !important;
    max-height: 100px !important;

}

.tag2 {
    font-size: 8px !important;
    font-style: italic;
}

.navbar-item2 {
    height: 90px;
    width: 90px;
    margin-right: 40px;
}

.navbar-item {
    height: 50%;
    margin-top: 20px;
}

.panelContentUser {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: auto !important;
    background-color: rgba(255, 255, 255, 0.98) !important;
    border: 4px solid rgb(213, 51, 121);
    box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73) !important;
    -webkit-box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73);
    -moz-box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73);
}

.panelContentUser2 {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: transparent !important;



}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.login-form__background {
    background-color: rgba(255, 255, 255, 0.98) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 350px;
    border: 4px solid rgb(213, 51, 121);
    box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73) !important;
    -webkit-box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73);
    -moz-box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73);
}

input:focus,
select:focus,
textarea:focus {
    border-color: rgb(213, 51, 121) !important;
    forced-color-adjust: rgb(213, 51, 121) !important;
    box-shadow: 1px 13px 118px -29px rgba(213, 51, 121, 0.73) !important;

}


.is-dark {
    background-color: rgb(213, 51, 121) !important;
    transition: .3s;
}

.item {
    width: 70%;
    margin: 0 auto;
    margin-top: 15px !important;
    max-height: 120px !important;

}

#single {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

table {
    margin: 0 auto !important;
    margin-top: 20px;
    margin-bottom: 50px;
}

img {
    height: 100px;
    width: 100px;
    margin-top: 0;
}

.logoI {
    height: 80px !important;
    width: 80px !important;
}

.box {
    position: relative !important;
    height: 120px !important;
    overflow: hidden;
    padding: 10px;
}

.content2 {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: 12px;
}

a {
    margin-right: 5px;
}

.overflow-ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 300px !important;
}

.image img {
    object-fit: cover;
    width: auto;
}

.is-dark:hover {
    opacity: 0.5;
}


.card .card-image {
    height: 50px;
    width: 100%;

}

.card-image img {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    top: -75%;
    transform: translateX(-50%);
}

.space {
    padding: 4rem;
}

.left {
    text-align: left;
}

.navbar-start,
.has-dropdown,
.navbar-menu,
.navbar-link {
    text-align: center !important;
    padding: 0 !important;

}

a {
    padding: 10px !important;
}

.navbar-dropdown a {
    color: cadetblue !important;
}

.navbar-link::after {
    display: none !important;
    padding: 0;
}

.error {
    color: red;
    font-weight: bold;
}